* {
    margin : 0;
    padding : 0 ; 
    font-family: 'Inter', sans-serif;
}

:root{
    /* Paleta de colores */
    --rust: #B56357;
    --mint: #B4DBC0;
    --slate: #EAE3EA;
    --darkerSlate: #a7a6a7;
    --lighterSlate: #ebe1eb;
    --seafoam: #A7B3A5;
    --seagrass: #7ea279;

}


body{
    background-color: var(--seafoam);
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--slate);
    border: 1.5px solid var(--darkerSlate);
    border-radius: 0px 0px 5px 5px;
}

.logo-container div{
    display: flex;
}

img[ class = "logo-item"]{
    width: 4%;
    height: 4%;
}

a{
    color: black;
    text-decoration: none;
}

.logo-item{
    margin: 15px 15px 5px 15px;
}

.player-container {
    width: 60vw;
    height: 80vh;
    background-color: var(--slate);
    border: 2px solid var(--darkerSlate);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.quizz-form{
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
}

.creator-box h2{
    margin-bottom: 20px;
    padding-bottom: 15px;
}

#quizz-name, #quizz-description{
    border-radius: 3px;
    margin: 10px;
}

#quizz-description{
    height: 5em;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form[name = "create-question"]{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-input{
    /* background-color: rgba(166, 166, 166, 0.679); */
    background-color: var(--darkerSlate);
    padding : 25px;
    width: 20em;
    border: none; 
    margin-bottom: 30px;
    border-radius: 1.5px;
}

/* Aqui debe estar la desactivacion del borde de los campos de texto mientras estan activos(concentrados) */

.create-input:focus{
    outline: none;
    border-bottom: black 2px solid;
}

.answer-container{
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 80px;
    row-gap: 2px; 
}

.button-container button{
    background-color: var(--seagrass);
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0px 5px 0px 5px;
    border-radius: 2px;
    padding: 5px;
}

.create-answer{
    margin-top: 25px;
    cursor: pointer;
    appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 0.2em;
    border: 2px solid black;
}

.create-answer:checked{
    background-color: green;
}

input[value = "Create"]{
    background-color: var(--seagrass);
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0px 5px 0px 5px;
    border-radius: 2px;
    padding: 5px;
}

textarea{
    resize: none;
}