*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

:root{
    /* Paleta de colores */
    --rust: #B56357;
    --mint: #B4DBC0;
    --slate: #EAE3EA;
    --darkerSlate: #a7a6a7;
    --lighterSlate: #ebe1eb;
    --seafoam: #A7B3A5;
    --seagrass: #7ea279;
    --playerblue: #d9f2ec;
}

body{
    background-color: var(--seafoam);
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container{
    border-radius: 0px 0px 5px 5px;
    background-color: var(--slate);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid var(--darkerSlate);

}

.logo-container div{
    display: flex;
}

h1[ class = "logo-item"]{
    font-size: 32px;
    font-weight: 700;
}

.logo-container img{
    width: 4%;
    height: 4%;
}

.player-container { 
    width: 60vw;
    height: 80vh;
    background-color: var(--slate);
    border: 2px solid var(--darkerSlate);
    border-radius: 12px ;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.player-container p{
    font-size: 0.8em;
    border-bottom: 1px solid black;
    padding-bottom: 6px;
}

.logo-item{
    margin: 15px 15px 5px 15px;
}

a{
    text-decoration: none;
    color: black;
}

#game{
    display: flex;
    flex-direction: column;
    
}

#game div{
    margin:20px
}

.game-question{

}

.game-answers form{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}

/* Botones de respuesta */
.game-answers form button{
    width: 280px;
    height: 90px;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
}

.game-answers form button:hover{
    background-color: var(--playerblue);
}

.game-buttons button{
    background-color: var(--seagrass);
    color: black;
    font-family: 'Inter', sans-serif;
    margin: 0px 5px 0px 5px;
    border-radius: 2px;
    padding: 5px;
}

.game-buttons button:hover{
    background-color: var(--mint);
}


