* {
    margin : 0;
    padding : 0 ; 
    font-family: 'Inter', sans-serif;
}

:root{
    /* Paleta de colores */
    --rust: #B56357;
    --mint: #B4DBC0;
    --slate: #EAE3EA;
    --darkerSlate: #a7a6a7;
    --lighterSlate: #ebe1eb;
    --seafoam: #A7B3A5;
    --seagrass: #7ea279;

}

body {
    background-color: var(--seafoam);
}

.logo-container{
    border-radius: 0px 0px 5px 5px;
    background-color: var(--slate);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid var(--darkerSlate);

}

.logo-container div{
    display: flex;
}

h1[ class = "logo-item"]{
    font-size: 32px;
    font-weight: 700;
}

.logo-container img{
    width: 4%;
    height: 4%;
}

.player-container { 
    width: 60vw;
    height: 80vh;
    background-color: var(--slate);
    border: 2px solid var(--darkerSlate);
    border-radius: 12px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-item{
    margin: 15px 15px 5px 15px;
}

a{
    text-decoration: none;
    color: black;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quizz-browser {
    width: 50vw;
    height: 70vh;
    background-color: var(--lighterSlate);
    border-radius: 12px; 
    border: 2px solid var(--darkerSlate);
    overflow-y: auto;
}

.quizz-browser > :nth-child(even){
    background-color: var(--darkerSlate);
    height: 10vh;
}

.quizz-browser > :nth-child(odd){
    height: 10vh;
}

.quizz-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.info-name{
    display: inline-block;
    margin: 0px 0px 0px 45px;
    width: 240px;
}

.info-author{
    display: inline-block;
    margin: 0px 0px 0px 160px;
}

.info-play{
    display: inline-block;
    margin: 0px 45px 0px 0px;
}

.info-play button{
    background-color: var(--seagrass);
    color: black;
    font-family: 'Inter', sans-serif;
    margin: 0px 5px 0px 5px;
    border-radius: 2px;
    padding: 5px;
}

.info-play button:hover{
    background-color: var(--mint);
}

