<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Carlos De la Rosa" />
    <meta name="description" content="here you create your own quizzes for other people to solve." />
    <link rel="stylesheet" href="/static/css/create_style.css">
    <script type = "text/javascript" src="{{ url_for('static', filename = 'create.js') }}"></script>
    <title>Create</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class = "logo-container">
        <div>
            <h1 class = "logo-item">QuizzLobby</h1>
            <img class="logo-item" src = "/static/images/sherlock.png" alt="Sherlock Holmes">
        </div>
        <nav id = "navbar" class = "logo-item">
          <a class="logo-item" href="index.html">Quizzes</a>
          <a class = "logo-item" href="create.html">Create</a>
          <a class = "logo-item" href="leaderboards.html">Leaderboards</a>
        </nav>
      </div>
    </header>
    <main>
      <div class = "player-container">
        <div class = "creator-box" id = "creator-box">
          <h2>Create your Quizz</h2>
          <form class = "quizz-form" name = "create" onsubmit="return getNameAndDescription()">
            <label for = "quizz-name">Name</label>
            <input type="text" id="quizz-name" name = "quizz-name" maxlength="16" autocomplete="off">
            <label for = "quizz-description">Description</label>
            <textarea id = "quizz-description" name = "quizz-description" placeholder="add a short description" maxlength="64"></textarea>
            <input type="submit" value="Create">
          </form>
        </div>
        <div id = "create-instructions">
          <ul>
            <li>Write the questions an the answers of your quiz</li>
            <li>markup the checkboxes for indicating the correct answers</li>
            <li>have fun!</li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
