<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Carlos De la Rosa" />
    <meta name="keywords" content="Quiz, Question, Answer" />
    <meta name="description" content="A simple website about quizzes" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>QuizLobby</title>
  </head>
  <body>
    <header>
      <div class="logo-container">
        <div>
          <h1 id="body-title" class="logo-item">QuizzLobby</h1>
          <img
            src="/static/images/sherlock.png"
            alt="Sherlock Holmes"
            title="QuizzLobby"
            class="logo-item"
          />
        </div>
        <nav id="navbar" class="logo-item">
          <a class="logo-item" href="index.html">Quizzes</a>
          <a class="logo-item" href="create.html">Create</a>
          <a class="logo-item" href="leaderboards.html">Leaderboards</a>
        </nav>
      </div>
    </header>
    <main>
      <div class="player-container">
        <div class="quizz-browser">
          <ul class="quizz-info">
            <li class="info-name">Q</li>
            <li class="info-author">Carlos De la Rosa</li>
            <li class="info-play"><button>Play</button></li>
          </ul>
          <ul class="quizz-info">
            <li class="info-name">xdddd rtx</li>
            <li class="info-author">Mateo</li>
            <li class="info-play"><button>Play</button></li>
          </ul>
        </div>
      </div>
    </main>
    <script src="/main.js"></script>
  </body>
</html>
